.front .l-content{
  .group-left{
    width: 229px;
  }
  .group-right{
    padding-left: 20px;
    width: 411px;
    h3{
      margin-top: 0;
      color: #CD2024;
      font-size: 20px;
    }
    h3 a{
      color: #CD2024;
      text-decoration: none;
    }
    h3 a:hover{
      text-decoration: underline;
    }
  }
}