.node--galeria--full{
  .field--name-field-image .field__item{
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
  }
  .field--name-field-image .field__item.fourth{
    margin-right: 0;
  }
}