#block-views-sliders-block{
  .field--name-field-link{
    font-size: 31px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: $normal_width;
    margin: 20px auto 0;
  }
  .field--name-field-image-single{
    height: 402px;
    overflow: hidden;
  }
}