#block-views-sliders-block{
  .field--name-field-link{
    font-size: 31px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: $normal_width;
    margin: 20px auto 0;
  }
  .field--name-field-image-single{
    height: 402px;
    overflow: hidden;
    a{
      display: block;
    }
    img{
      max-width: none;
      width: 100%;
      min-width: 1445px;
      height: auto;
    }
  }
  .views_slideshow_cycle_teaser_section{
    width: 100% !important;
    .views-slideshow-cycle-main-frame-row{
      width: 100% !important;
    }
  }
}
