#block-views-categories-block{
  width: $normal_width;
  margin: 40px auto 0;
  .field--name-field-image-single{
    width: 64px;
    height: 64px;
    overflow: hidden;
    display: inline-block;
    a{
      display: block;
      position: relative;
      width: 64px;
      height: 64px;
    }
    a img{
      position: absolute;
      top: 0;
      left: 0;
    }
    a.active img, 
    a:hover img{
      top: -65px;
    }
  }
  .field--name-title h3{
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    a{
      text-transform: uppercase;
      color :white;
      text-decoration: none;
      display: block;
    }
  }
  .views-row{
    text-align: center;
    width: 96px;
    float: left;
    margin-right: 0;
  }
  .views-row.views-row-last{
    margin-right: 0;
  }
  .view-content:after{
    content: "";
    display: block;
    clear: both;
  }
  .views-row.hover{
    cursor: pointer;
    .field--name-field-image-single a img{
      top: -65px;
    }
  }
}
.l-content{
  .field--name-field-category{
    margin: 20px 0;
  }
}