.l-region--highlighted{
  background: #CF1D1B url(../images/highlightning-bg.png) repeat-x 0 bottom;
  height: 169px;
  position: absolute;
  top: 107px;
  left: 0;
  right: 0;
}
.front .l-region--highlighted{
  height: 652px;
}